<div class="side-nav-wrapper">
<div class="side-nav" id="side-nav-id">
    <div class="side-nav-actions">
        <div class="logo">
            <img src="../assets/svgs/tezo-logo.svg" alt="">
        </div>
        <div class="all-section">
            <span>ALL</span>
            <br>
            <br>
            <ul>
                <li class="side-nav-option"><span class="nav-icon"><span
                            class="nav-icon-content"><img src="../assets/svgs/dashboard.svg"
                                alt="">Dashboard</span></span>
                    <p></p>
                </li>
                <li class="side-nav-option" id="employees-side-nav-option"><span class="nav-icon"><span
                            class="nav-icon-content"><img src="../assets/svgs/employees.svg"
                                alt="">Employees</span></span>
                    <p class="selected-indicator"></p>
                </li>
            </ul>
        </div>
        <div class="user-management">
            <span>ROLE / USER MANAGEMENT</span>
            <br>
            <br>
            <ul>
                <li class="side-nav-option" id="roles-side-nav-option"><span class="nav-icon"><span
                            class="nav-icon-content"><img src="../assets/svgs/roles.svg" alt="">Roles</span><img
                            src="../assets/svgs/arrow-forward.svg" alt="" class="arrow-forward-icon"></span>
                    <p></p>
                </li>
                <li class="side-nav-option"><span class="nav-icon"><span
                            class="nav-icon-content"><img src="../assets/svgs/access-rights.svg" alt="">Access
                            rights</span><img src="../assets/svgs/arrow-forward.svg" alt=""
                            class="arrow-forward-icon"></span>
                    <p></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="update-confirmation">
        <span class="update-version">
            Install the new update 2.3.1A
        </span>
        <div>
            Allow to launch the new update for the AD application
        </div>
        <div class="accept-or-reject">
            <button class="decline-button mr-10 disabled-button">Dismiss</button>
            <button class="accept-button disabled-button">Accept</button>
        </div>
    </div>
</div>
<div><img src="../assets/images/handle.png" alt="" class="handle" id="handle"></div>
</div>