<div class="side-nav-wrapper">
    <!-- Button to toggle the side-nav visibility -->
    <div class="handle" id="handle" (click)="toggleNav()">
      <img src="../assets/images/handle.png" alt="">
    </div>
  
    <div class="side-nav" id="side-nav-id">
      <div class="side-nav-actions">
        <div class="logo">
          <img src="../assets/svgs/tezo-logo.svg" alt="">
        </div>
        <div class="all-section">
          <span>ALL</span>
          <br>
          <br>
          <ul>
            <li class="side-nav-option my-2" (click)="onSelectOption('dashboard')" [class.selected]="isSelected('dashboard')">
              <span class="nav-icon">
                <span class="nav-icon-content">
                  <img src="../assets/svgs/dashboard.svg" alt="" [class.selected-icon]="isSelected('dashboard')">
                  Dashboard
                </span>
              </span>
              <p [class.selected-indicator]="isSelected('dashboard')"></p>
            </li>
            <li class="side-nav-option" (click)="onSelectOption('employees')" [class.selected]="isSelected('employees')">
              <span class="nav-icon">
                <span class="nav-icon-content">
                  <img src="../assets/svgs/employees.svg" alt="" [class.selected-icon]="isSelected('employees')">
                  Employees
                </span>
              </span>
              <p [class.selected-indicator]="isSelected('employees')"></p>
            </li>
          </ul>
        </div>
        <div class="user-management">
          <span>ROLE / USER MANAGEMENT</span>
          <br>
          <br>
          <ul>
            <li class="side-nav-option my-2" (click)="onSelectOption('roles')" [class.selected]="isSelected('roles')">
              <span class="nav-icon">
                <span class="nav-icon-content">
                  <img src="../assets/svgs/roles.svg" alt="" [class.selected-icon]="isSelected('roles')">
                  Roles
                </span>
                <img src="../assets/svgs/arrow-forward.svg" alt="" class="arrow-forward-icon">
              </span>
              <p [class.selected-indicator]="isSelected('roles')"></p>
            </li>
            <li class="side-nav-option" (click)="onSelectOption('access-rights')" [class.selected]="isSelected('access-rights')">
              <span class="nav-icon">
                <span class="nav-icon-content">
                  <img src="../assets/svgs/access-rights.svg" alt="" [class.selected-icon]="isSelected('access-rights')">
                  Access rights
                </span>
                <img src="../assets/svgs/arrow-forward.svg" alt="" class="arrow-forward-icon">
              </span>
              <p [class.selected-indicator]="isSelected('access-rights')"></p>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="update-confirmation">
        <span class="update-version">Install the new update 2.3.1A</span>
        <div>Allow to launch the new update for the AD application</div>
        <div class="accept-or-reject">
          <button class="decline-button mr-10 disabled-button">Dismiss</button>
          <button class="accept-button disabled-button">Accept</button>
        </div>
      </div>
    </div>
  
    <!-- Side Navigation with animation -->
  </div>
  