@import "../../../styles.scss";

.search-bar{
    height: 60px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#search-input{
    width: 70%;
    height: 100%;
    border: none;
    font-size: 1.2rem;
}

#search-input:focus{
    border: none;
    outline: none;
}
.sb-h-20{
    height: 20px;
}