<div class="emp-table-wrapper mx-4 my-4 table-view" id="emp-table-id">

    @if(employees.length === 0){
        <div class="no-data-found">
            No Data found!
        </div>
    }
    @else {
        <div class="row py-4 px-2">
            <div class="col">
                <span>
                    <span><img src="/assets/svgs/arrow-turn-left-down.svg" alt=""></span>
                    <input type="button" value="Delete" id="employee-delete-button" (click)="deleteSelectedEmployees()" [disabled]="!isAnyEmployeeSelected()" [ngClass]="{'disabled-button': !isAnyEmployeeSelected()}">
                </span>
            </div>
            <div class="col text-end">
                <span class="mr-2"><img src="/assets/svgs/table-add.svg" alt=""></span>
            </div>
    
    
        </div>
        <table class="emp-table">
            <thead>
                <tr>
                    <td><input type="checkbox" name="" id="head-checkbox" class="table-header-checkbox" [(ngModel)]="selectAll" 
                        (change)="onHeadCheckboxChange()"></td>
                    <td><span><input type="button" value="USER" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="LOCATION" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="DEPARTMENT" class="sort-button"> <img
                                src="../assets/svgs/sort.svg" alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="ROLE" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="EMP NO" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="STATUS" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><span><input type="button" value="JOIN DT" class="sort-button"> <img src="../assets/svgs/sort.svg"
                                alt="" class="sb-15"></span></td>
                    <td><img src="../assets/svgs/more-hz.svg" alt=""></td>
                </tr>
            </thead>
    
    
    
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td><input type="checkbox" name="" id="{{emp.id}}-checkbox" class="emp-record-checkbox"  [(ngModel)]="emp.selected" 
                        (change)="onEmployeeCheckboxChange()" 
                        ></td>
                    <td><span>
                            <div class="row align-items-center">
                                <img src="{{emp.img}}" alt="" class="circle-avatar">
                                <div class="col ml-2">
                                    <div class="emp-name">{{emp.name}}</div>
                                    <div class="emp-email">{{emp.email}}</div>
                                </div>
                            </div>
                        </span></td>
                    <td><span>{{emp.location.title}}</span></td>
                    <td><span>{{emp.department.title}}</span></td>
                    <td><span>{{emp.role.title}}</span></td>
                    <td><span>{{emp.empNo}}</span></td>
                    <td><span [ngClass]="isEmployeeActive(emp) ? 'active' : 'inactive'">{{emp.status.value}}</span></td>
                    <td><span>{{emp.joinDate}}</span></td>
                    <td><img src="../assets/svgs/more-hz.svg" alt=""></td>
                </tr>
            </tbody>
    
        </table>
    }

</div>

<div class="card-view mx-2 my-4">
    <app-employee-card *ngFor="let emp of employees" [employee]="emp"></app-employee-card>
</div>

<div class="ml-4">
    &nbsp;
</div>
