@import "../../../../styles.scss";

.emp-table-wrapper{
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.emp-table{
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px !important;
}
tr {
    border-top: 1px solid $cd8dbe0;
}
tr td{
    padding: 10px 20px;
}
thead{
    background-color: $ceaebee;
}

table {
    border-collapse: collapse;  
}
thead input[type="button"]{
    border: none;
    font-weight: 600;
    color: $c576580;
    background-color: $ceaebee;
}

.sb-15{
    width: 15px;
    height: 15px;
}

.circle-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

tbody tr:hover{
background-color: $primary-shade;
}


#employee-delete-button{
    background-color: $primary-color;
    color: $white;
    border-radius: 6px;
    border: 1px solid $primary-color;
    padding: 6px;
}

.emp-email{
    font-size: 12px;
    color: $c6a6f74;
}

.no-data-found{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.disabled-button{
    cursor: not-allowed;
    background-color: $border-color !important;
    border:  1px solid $primary-shade !important;
}

.active{
   background-color: $ce7f4e8; 
   color: $c549c84;
   padding: 10px;
   border-radius: 6px;
   display: block;
   text-align: center;
}
.inactive{
    background-color: $primary-shade;
    color: $primary-color;
    padding: 10px;
    border-radius: 6px;
    display: block;
    text-align: center;
}