@import "../../../styles.scss";

.main-div{
    display: flex;
    height: 100vh;
}


.content{
    overflow-y: auto;
}
.small-screen-handle{
    display: none;
}

 .handle{
    cursor: pointer;
    transform: rotate(180deg);
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
    left: 20px;
    z-index: 10;
}

#side-nav {
    width: 15%; 
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);  /* Shift the sidebar off-screen */
  }
  


  
  @media screen and (max-width : 1300px) {
    #side-nav{
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        display: block;
        position: absolute;
        z-index: 200;
        width: 300px ;
        flex: 0 0 auto;
        background-color: $white;
    }
    .handle{
        display: none;
    }
    .small-screen-handle{
        cursor: pointer;
        display: block;
        z-index: 100;
        top: 85%;
        left: 80%;
        transform: rotate(180deg);
        width: 160px;
        height: 160px;
        position: absolute;        
    }
    
  }