@import "../../../styles.scss";

.main-div{
    display: flex;
    height: 100vh;
}


.content{
    overflow-y: auto;
}

.handle{
    cursor: pointer;
    transform: rotate(180deg);
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-top: 30px;
}

.side-nav {
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    position: relative;
    z-index: 1;  /* Ensure it is above other content when visible */
  }
  
  .hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);  /* Shift the sidebar off-screen */
  }
  