<div class="filter-bar">

    <div>
        <span>Filter</span>
        <img src="/assets/svgs/filter-funnel.svg" alt="filter-funnel">
        <select name="Status" id="">
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
        </select>
        <select name="Location" id="">
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
        </select>
        <select name="Department" id="">
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
            <option value="1">Dummy</option>
        </select>
    </div>
    

    <div class="reset-apply-row">
        <input type="button" value="Reset" id="reset-button">
        <input type="button" value="Apply" id="apply-button">
    </div>

</div>