@import "../../../../styles.scss";

.add-role-button{
    background-color: $primary-color;
    color: $white;
    border-radius: 6px;
    border: 1px solid $primary-color;
    padding: 4px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 }

 .role-container-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   justify-content: start;
}

@media (max-width: 768px) {
   .role-container-wrapper {
       grid-template-columns: repeat(2, 1fr);  /* 2 cards per row for smaller screens */
   }
}

@media (max-width: 480px) {
   .role-container-wrapper {
       grid-template-columns: 1fr;  /* 1 card per row for very small screens */
   }
}
