$primary-color: #f44848;
$primary-shade: #fde9e9;
$white: #ffffff;
$border-color: #f9a3a3;
$cFCFCFC : #fcfcfc;
$cd8dbe0 : #d8dbe0;
$ceaebee : #eaebee;
$ceaebee : #eaebee;
$c576580 : #576580;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }